# GRUB bootloader configuration for AcreetionOS XFCE
# This file is used during ISO boot via GRUB (UEFI mode).

if loadfont /boot/grub/fonts/unicode.pf2; then
  set gfxmode=auto
  insmod efi_gop
  insmod efi_uga
  insmod gfxterm
  terminal_output gfxterm
fi

set menu_color_normal=white/black
set menu_color_highlight=black/green

menuentry "Boot AcreetionOS XFCE" {
  linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisodevice=/dev/disk/by-label/ACREETIONOS archiso_loop=1
  initrd /arch/boot/x86_64/initramfs-linux.img
}

menuentry "Boot AcreetionOS XFCE (Safe Mode)" {
  linux /arch/boot/x86_64/vmlinuz-linux archisobasedir=arch archisodevice=/dev/disk/by-label/ACREETIONOS archiso_loop=1 nomodeset
  initrd /arch/boot/x86_64/initramfs-linux.img
}

menuentry "Boot from existing OS" {
  insmod chain
  insmod ntfs
  search --set=root --file /EFI/Microsoft/Boot/bootmgfw.efi
  chainloader /EFI/Microsoft/Boot/bootmgfw.efi
}

menuentry "Power off" {
  halt
}

menuentry "Reboot" {
  reboot
}
