# GRUB loopback config for AcreetionOS XFCE
# This is used when booting the ISO directly via GRUB loopback.

set timeout=10
insmod regexp

if [ -f ${prefix}/grub.cfg ]; then
  configfile ${prefix}/grub.cfg
else
  search --set=root --file /boot/grub/grub.cfg
  configfile /boot/grub/grub.cfg
fi
