# PXE boot config for AcreetionOS XFCE
UI menu.c32
PROMPT 0
MENU TITLE AcreetionOS XFCE PXE Boot
TIMEOUT 300

DEFAULT boot

LABEL boot
  MENU LABEL Boot AcreetionOS XFCE via PXE
  LINUX ::/arch/boot/x86_64/vmlinuz-linux
  INITRD ::/arch/boot/x86_64/initramfs-linux.img
  APPEND archisobasedir=arch archiso_http_srv={{PXE_SERVER}}/ ip=::::::dhcp
