# SYSLINUX bootloader configuration for AcreetionOS XFCE
# This file is used during ISO boot via SYSLINUX (BIOS mode).

UI menu.c32
PROMPT 0

MENU TITLE AcreetionOS XFCE
TIMEOUT 300

DEFAULT boot

LABEL boot
  MENU LABEL Boot AcreetionOS XFCE
  LINUX ../arch/boot/x86_64/vmlinuz-linux
  INITRD ../arch/boot/x86_64/initramfs-linux.img
  APPEND archisobasedir=arch archisodevice=/dev/disk/by-label/ACREETIONOS archiso_loop=1

LABEL safe
  MENU LABEL Boot AcreetionOS XFCE (Safe Mode)
  LINUX ../arch/boot/x86_64/vmlinuz-linux
  INITRD ../arch/boot/x86_64/initramfs-linux.img
  APPEND archisobasedir=arch archisodevice=/dev/disk/by-label/ACREETIONOS archiso_loop=1 nomodeset

LABEL hdd
  MENU LABEL Boot from existing OS
  COM32 chain.c32
  APPEND hd0

LABEL poweroff
  MENU LABEL Power off
  COM32 poweroff.c32

LABEL reboot
  MENU LABEL Reboot
  COM32 reboot.c32
